
@{
    ViewBag.Title = "Quotation";
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/Quotation/Quotation.js"></script>
<style>
    .modal-dialog,
    .modal-content {
        /* 80% of window height */
        /*height: 90%;*/
        width: 90%;
    }

    .modal-body {
        /* 100% = dialog height, 120px = header + footer */
        max-height: calc(100% - 140px);
        /*overflow-y: scroll;*/
    }
</style>

<div class="container">
    <h2>Quotation</h2>
    @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="clearTextBox();">Add New Employee</button><br />*@
    <br />
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>
                    Enquiry date
                </th>
                <th>
                    Enquiry Ref Number
                </th>
                <th>
                    Supplier Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Subject
                </th>
                <th>
                    Action
                </th>
            </tr>
        </thead>
        <tbody class="tbody"></tbody>
    </table>
</div>




